

// ================================================================
// サイトの基本設定
// ================================================================


// 幅関係の設定 ----------------------------------------


$layout-width-canvas: 1920px;
// $layout-width-container: 1735px;
// $layout-width-pc: 1200px;
$layout-width-tab: 600px;
// $layout-width-sp: 414px;
// $layout-width-ip: 375px;

// フォント関係の設定 ----------------------------------

$line-height-base: 1;

// フォントの種類
$font-family-text: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Arial", "メイリオ", "Meiryo", sans-serif;
$font-family-title: 'Lato', sans-serif;

// フォントの太さ
$font-weight-base: 400;


// 色関係の設定 ----------------------------------------


// フォントカラー

// ベース
$color-base: #fff;
$color-text: #333;
$color-heading: #1A2930;

// ヘッダー
$header-text: #fff;
$header-gradation: #1A2930;
$header-key: #7A7A7A;
$header-background: #0A1612;

// ワークス
$works-background:#1A2930;
$works-text:#fff;
$works-key: #0A1612;

// アバウト
$about-base: #F7CE3E;
$about-background:#fff;

// スキル
$skill-title:#7A7A7A;

// コンタクト
$contact-base: #F7CE3E;
$contact-background: #fff;
$contact-text: #7A7A7A;
$contact-send:#030303;

// フッター
$footer-base: #0A1612;
$footer-text: #fff;
$footer-text-active: #7A7A7A;


// ブレークポイント ----------------------------------------


$breakpoints: (
  // "ip": "(max-width: #{$layout-width-ip - 1px})",
  "tab": "(max-width: #{$layout-width-tab - 1px})",
  // "sp": "(min-width: #{$layout-width-ip}) and (max-width: #{$layout-width-sp -1px})",
  // "tab": "(max-width: #{$layout-width-tab - 1px})",
  "pc": "(min-width: #{$layout-width-tab}) and (max-width: #{$layout-width-canvas - 1px})",
);

// "pc": "(min-width: #{$layout-width-tab}) and (max-width: #{$layout-width-pc - 1px})",
// "big-pc": "(min-width: #{$layout-width-pc}) and (max-width: #{$layout-width-canvas - 1px})",

// z-index の指定

// $layer: (
// 	loading: 200,
// 	modal: 100,
// 	drawer: 40,
// 	floating: 30,
// 	header: 20,
// 	footer: 10,
// 	default: 1
// );