@use "../setting/setting";
@use "../function/mixin";
@use "../function/function";
@use "../foundation/animation";

.p-header {
  padding-top: 286px;
  font-size: 16px;
  @include mixin.media(pc) {
    padding-top: function.vw(1920, 286);
    font-size: function.vw(1920, 15);
  }
  @include mixin.media(tab) {
    // position: relative;
    // top: 5%;
    // right: -8%;
    // top: -0;
    // right: -28%;

    // bottom: 0;
    // left: 180px;
    // padding-top: 30px;
    // padding-left: 390px;
    width: 216px;
    height: 82px;
    // margin-left: 75%;
    // padding-top: 250px;
    // background: red;
  }
}

.p-drawer {
  display: none;
}

@include mixin.media(tab) {
  .p-hamburger {
    position: fixed;
    // left: 90%;

    // right: -60px;
    // bottom: 0;
    // left: 0;
    right: 30px;
    // padding: ;
    top: 25px;
    // text-align: center;
    // margin: 0 auto;
    // width: 35px;
    // height: 2px;
    // margin-right: -170px;
    width: 40px;
    height: 40px;
    // top: 30%;
    // left: 100%;
    // width: 50px;
    // height: 50px;
    // background: blue;
    display: block;
    outline: none;
    z-index: 20;
  }
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  .p-hamburger__line::before {
    top: -10px;
    // left: -0.1px;
  }

  .p-hamburger__line::after {
    top: 10px;
    // left: -0.1px;
  }
  .p-hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 35px;
    height: 2px;
    background-color: setting.$color-base;
    -webkit-transition: inherit;
    transition: inherit;
    z-index: 20;
  }
  .p-hamburger:hover,
  .p-hamburger:focus {
    // box-shadow: 0px 0px 1.0rem rgba(247, 206, 62, .8);
    // box-shadow: 0 0 .5rem rgba(247, 206, 62, .5 );
    box-shadow: 0 0 0.5rem rgba(197, 193, 192, 0.5);
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line {
    background-color: transparent;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    top: 0;
    background-color: setting.$header-background;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  // .p-drawer {
  //   // display: none;
  //   transform: translateX(100%);
  //   position: relative;
  //   // height: 368px;
  //   // background: blue;
  // }

  .is-drawerActive .p-drawer {
    // transform: translateX(0);
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: setting.$color-base;
    // background-color: red;
    background-color: rgb(255, 255, 255, 0.9);
    z-index: 10;
    border: 10px solid setting.$header-key;
  }

  .is-drawerActive .c-drawer__list {
    // &:nth-child(1) {
    //   background: red;
    // }
    opacity: 0;
    // &:nth-child(2) {
    //   background: green;
    // }
    // &:nth-child(3) {
    //   background: blue;
    // }
    @include mixin.animation(
      $duration: 0.4s,
      $timing-function: ease-in-out,
      // $fill-mode: infinite
    );

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.15s;
        // background: $i * blue;
      }
    }
  }
}

.p-works {
  &__contents {
    padding: 129px 90px 92px;
    display: flex;
    justify-content: space-between;
    max-width: setting.$layout-width-canvas;
    margin: 0 auto;
    @include mixin.media(pc) {
      padding-top: function.vw(1920, 129);
      padding-left: function.vw(1920, 90);
      padding-right: function.vw(1920, 90);
      padding-bottom: function.vw(1920, 92);
    }
    @include mixin.media(tab) {
      display: block;
      padding: 30px 49px;
      // padding-top: function.vw(1920, 64);
      // padding-left: function.vw(1920, 99);
      // padding-right: function.vw(1920, 99);
      // padding-bottom: function.vw(1920, 49);
      // padding: 31px 48px;
    }
  }
}

.p-about {
  background: setting.$about-base;
  padding-bottom: 110px;
  @include mixin.media(pc) {
    padding-bottom: function.vw(1920, 110);
  }

  &__wrapper {
    background: setting.$about-background;
    width: 100%;
    padding: 145px 0 89px;
    @include mixin.media(pc) {
      padding-top: function.vw(1920, 145);
      padding-bottom: function.vw(1920, 89);
    }
    @include mixin.media(tab) {
      padding-top: 61px;
      padding-bottom: 25px;
    }
  }

  &__contents {
    display: flex;
    // justify-content: space-around;
    margin: auto;
    max-width: setting.$layout-width-canvas;
    // background: pink;
    // max-width: 1920px;
    padding: 0 90px;

    @include mixin.media(pc) {
      padding-left: function.vw(1920, 90);
      padding-right: function.vw(1920, 140);
      // flex-flow: row wrap;
    }
    @include mixin.media(tab) {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 35px;
    }
  }
}

.p-skill {
  padding-bottom: 110px;
  max-width: 1800px;
  // background: pink;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include mixin.media(pc) {
    padding-bottom: function.vw(1920, 150);
    max-width: function.vw(1920, 1800);
    padding-left: function.vw(1920, 60);
    padding-right: function.vw(1920, 60);
  }
  @include mixin.media(tab) {
    padding-bottom: 70px;
    padding-left: function.vw(1920, 155);
    padding-right: function.vw(1920, 155);
    // padding-left: 30px;
    // padding-right: 30px;
  }

  &__contents {
    // max-width: 1530px;
    max-width: setting.$layout-width-canvas;
    margin: 0 auto;

    @include mixin.media(tab) {
      // background: blue;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    // @include mixin.media(pc) {
    //   max-width: function.vw(1920, 1530);
    // }
    // @include extend.media(ip) {
    //   margin-top: 0;
    //   margin-left: function.vw(1800, 38);
    // }
  }
}

.p-contact {
  background: setting.$contact-base;
  padding-bottom: 110px;
  // padding-left: 10px;
  // padding-right: 10px;
  @include mixin.media(pc) {
    padding-bottom: function.vw(1920, 110);
  }
  @include mixin.media(tab) {
    padding-bottom: 85px;
  }

  &__wrapper {
    background: setting.$contact-background;
    width: 100%;
    padding: 145px 0 89px;
    @include mixin.media(pc) {
      padding-top: function.vw(1920, 145);
      padding-bottom: function.vw(1920, 89);
    }
    @include mixin.media(tab) {
      padding: 54px 60px;
    }
  }
  &__contents {
    margin: auto;
    max-width: 640px;
    // background: green;
    color: setting.$contact-text;
    // text-align: center;
    @include mixin.media(pc) {
      max-width: function.vw(1920, 640);
    }
    // @include mixin.media(tab) {
    //   max-width: 255px;
    // }
  }W
}

// input:focus {
//   background: setting.$contact-base;
// }

// /* 入力エラーのスタイル */
// input[type="text"]:required,
// input[type="email"]:required,
// input[type="email"]:invalid,
// textarea:required {
//   color: #630015;
//   border-color: #c20c33;
//   background-color: #ffd9e1;
// }

// /* 入力値が正常な時のスタイル */
// input[type="text"]:valid,
// input[type="email"]:valid,
// textarea:valid {
//   color: #333;
//   border-color: #ccc;
//   background: #fff;
// }

.p-footer {
  background: setting.$footer-base;
  color: setting.$footer-text;

  &__wrapper {
    max-width: setting.$layout-width-canvas;
    padding: 42px 90px;
    margin: auto;
    font-size: 16px;
    letter-spacing: 0.08em;
    display: flex;
    justify-content: space-between;
    // height: 112px;
    align-items: center;
    @include mixin.media(pc) {
      font-size: function.vw(1920, 16);
      padding-right: function.vw(1920, 90);
      padding-left: function.vw(1920, 90);
      height: function.vw(1920, 112);
    }
    @include mixin.media(tab) {
      display: block;
      // margin: 0 auto;
      padding: 0;
      text-align: center;
      padding: 54px 0 62px;
    }
  }
}
