@use "../setting/setting";
@use "../function/mixin";
@use "../function/function";

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  // border: 0;
  // padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@include mixin.media(tab) {
  .u-mar-12 {
    margin-left: -12px;
  }
}

@include mixin.media(tab) {
  .u-mar-40 {
    margin-bottom: 40px;
  }
}

.u-pad-45 {
  padding-bottom: 45px;
  @include mixin.media(pc) {
    padding-bottom: function.vw(1920, 45);
  }
  // @include mixin.media(tab) {
  //   display: none;
  // }
}

.u-pad-62 {
  @include mixin.media(tab) {
    padding-top: 62px;
  }
  // @include mixin.media(tab) {
  //   display: none;
  // }
}

.u-pad-100 {
  padding-right: 60px;
  @include mixin.media(pc) {
    padding-right: function.vw(1920, 60);
  }
  @include mixin.media(tab) {
    padding-right: 0;
  }
}
.u-pad-132 {
  padding-top: 132px;
  @include mixin.media(pc) {
    padding-top: function.vw(1920, 132);
  }
}

.clear-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.pc-br:before {
  content: "\A";
  white-space: pre;
  @include mixin.media(tab) {
    display: none;
  }
}

// @include mixin.media(ip) {
//   .tab-br:before {
//     content: "\A";
//     white-space: pre;
//   }
// }

// .u-none {
//   @include mixin.media(pc) {
//     display: none;
//   }
// }
